In [1]:
import pandas as pd
import numpy as np
import nltk
import matplotlib.pyplot as plt

In [2]:
trip = pd.read_csv(r"datasets/Trip_advisor_review.csv")

In [3]:
trip.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [4]:
trip.isnull().sum()

Review    0
Rating    0
dtype: int64

In [5]:
trip['Rating'].astype(str).astype(float)

0        4.0
1        2.0
2        3.0
3        5.0
4        5.0
        ...
20486    5.0
20487    4.0
20488    2.0
20489    1.0
20490    2.0
Name: Rating, Length: 20491, dtype: float64

In [6]:
trip.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [7]:
trip.Rating.replace({1:'neg', 2:'neg' , 3:'neu', 4:'pos' , 5:'pos'} , inplace=True)

# neg = negative(rating -> 1,2)
# neu = neutral(rating -> 3)
# pos = positive(rating -> 4,5)

In [8]:
trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  object
dtypes: object(2)
memory usage: 320.3+ KB

In [9]:
trip.head()

                                              Review Rating
0  nice hotel expensive parking got good deal sta...    pos
1  ok nothing special charge diamond member hilto...    neg
2  nice rooms not 4* experience hotel monaco seat...    neu
3  unique, great stay, wonderful time hotel monac...    pos
4  great stay great stay, went seahawk game aweso...    pos

In [10]:
columns_titles = ["Rating","Review"]
trip = trip.reindex(columns=columns_titles)

In [11]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')   # downloading pre trained dictionary

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\prana\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [12]:
sent = SentimentIntensityAnalyzer()  # created a instance

In [13]:
trip.Rating.value_counts()

pos    15093
neg     3214
neu     2184
Name: Rating, dtype: int64

In [14]:
trip.iloc[0][1]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night,  '

In [15]:
trip.iloc[0][1]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night,  '

In [16]:
sent.polarity_scores(trip.iloc[0][1])

{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'compound': 0.9747}

In [17]:
score_com = []
score_pos = []
score_neg = []
score_neu = []
for i in range(0,trip.shape[0]):
    score = sent.polarity_scores(trip.iloc[i][1])
    score1 = score['compound']
    score_com.append(score1)
    
    score2 = score['pos']
    score_pos.append(score2)
    
    score3 = score['neg']
    score_neg.append(score3)
    
    score4 = score['neu']
    score_neu.append(score4)

In [18]:
trip['Positive_Score'] = score_pos
trip['Negative_Score'] = score_neg
trip['Neutral_Score'] = score_neu
trip['Compound_Score'] = score_com

In [20]:
trip.head(20)

,Rating,Review,Positive_Score,Negative_Score,Neutral_Score,Compound_Score
0,pos,nice hotel expensive parking got good deal sta...,0.285,0.072,0.643,0.9747
1,neg,ok nothing special charge diamond member hilto...,0.189,0.110,0.701,0.9787
2,neu,nice rooms not 4* experience hotel monaco seat...,0.219,0.081,0.700,0.9889
3,pos,"unique, great stay, wonderful time hotel monac...",0.385,0.060,0.555,0.9912
4,pos,"great stay great stay, went seahawk game aweso...",0.221,0.135,0.643,0.9797
5,pos,love monaco staff husband stayed hotel crazy w...,0.265,0.084,0.651,0.9870
6,pos,"cozy stay rainy city, husband spent 7 nights m...",0.364,0.026,0.609,0.9925
7,pos,"excellent staff, housekeeping quality hotel ch...",0.228,0.032,0.740,0.9590
8,pos,"hotel stayed hotel monaco cruise, rooms genero...",0.298,0.038,0.663,0.9618
9,pos,excellent stayed hotel monaco past w/e delight...,0.484,0.064,0.451,0.9756
10,neg,"poor value stayed monaco seattle july, nice ho...",0.395,0.080,0.524,0.9666
11,pos,nice value seattle stayed 4 nights late 2007. ...,0.296,0.076,0.629,0.9242
12,pos,nice hotel good location hotel kimpton design ...,0.374,0.075,0.551,0.9859
13,neu,nice hotel not nice staff hotel lovely staff q...,0.224,0.138,0.639,0.7584
14,pos,"great hotel night quick business trip, loved l...",0.482,0.051,0.467,0.9608
15,neg,horrible customer service hotel stay february ...,0.167,0.132,0.701,0.8496
16,neg,disappointed say anticipating stay hotel monac...,0.236,0.096,0.668,0.9905
17,pos,fantastic stay monaco seattle hotel monaco hol...,0.333,0.042,0.625,0.9948
18,pos,"good choice hotel recommended sister, great lo...",0.512,0.084,0.405,0.9300
19,neu,hmmmmm say really high hopes hotel monaco chos...,0.252,0.033,0.715,0.9891

In [21]:
trip.Compound_Score.mean()

0.8034298862915489

In [22]:
len(trip.Compound_Score[trip.Compound_Score > 0])

18862

In [23]:
len(trip.Compound_Score[trip.Compound_Score < 0])

1617

In [24]:
len(trip.Compound_Score[trip.Compound_Score > 0.99])

4540

In [25]:
trip.Compound_Score.describe(percentiles=[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0])

count    20491.000000
mean         0.803430
std          0.455671
min         -0.997400
10%          0.398700
20%          0.875000
30%          0.940300
40%          0.962400
50%          0.973800
60%          0.981400
70%          0.986600
80%          0.991000
90%          0.994800
100%         0.999900
max          0.999900
Name: Compound_Score, dtype: float64

In [ ]:
## Using TextBlob library

In [28]:
# pip install textblob   # Installing textblob library

In [29]:
from textblob import TextBlob

In [31]:
text1 = "the movie was very bad"
output = TextBlob(text1)
output.sentiment

Sentiment(polarity=-0.9099999999999998, subjectivity=0.8666666666666667)

In [32]:
score_pol = []


for i in range(0,trip.shape[0]):
    score = TextBlob(trip.iloc[i][1]).sentiment
    score5 = score[0]
    score_pol.append(score5)

In [33]:
trip['Sentiment_Score'] = score_pol

In [35]:
trip.head(10)

,Rating,Review,Positive_Score,Negative_Score,Neutral_Score,Compound_Score,Sentiment_Score
0,pos,nice hotel expensive parking got good deal sta...,0.285,0.072,0.643,0.9747,0.208744
1,neg,ok nothing special charge diamond member hilto...,0.189,0.110,0.701,0.9787,0.214923
2,neu,nice rooms not 4* experience hotel monaco seat...,0.219,0.081,0.700,0.9889,0.294420
3,pos,"unique, great stay, wonderful time hotel monac...",0.385,0.060,0.555,0.9912,0.504825
4,pos,"great stay great stay, went seahawk game aweso...",0.221,0.135,0.643,0.9797,0.384615
5,pos,love monaco staff husband stayed hotel crazy w...,0.265,0.084,0.651,0.9870,0.243056
6,pos,"cozy stay rainy city, husband spent 7 nights m...",0.364,0.026,0.609,0.9925,0.366661
7,pos,"excellent staff, housekeeping quality hotel ch...",0.228,0.032,0.740,0.9590,0.562963
8,pos,"hotel stayed hotel monaco cruise, rooms genero...",0.298,0.038,0.663,0.9618,0.312946
9,pos,excellent stayed hotel monaco past w/e delight...,0.484,0.064,0.451,0.9756,0.286355

In [36]:
len(trip.Sentiment_Score[trip.Sentiment_Score > 0])

19112

In [38]:
len(trip.Sentiment_Score[trip.Sentiment_Score < -0.9])

1

In [39]:
trip.Sentiment_Score.describe(percentiles=[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0])

count    20491.000000
mean         0.274278
std          0.181452
min         -1.000000
10%          0.054830
20%          0.149242
30%          0.202615
40%          0.244202
50%          0.280371
60%          0.319345
70%          0.360227
80%          0.412179
90%          0.488636
100%         1.000000
max          1.000000
Name: Sentiment_Score, dtype: float64